body {
    background-color: maroon;
}

div.home {
    text-align: center;
    padding: 20px;
}

div.header {
    text-align: center;
    color: white;
}

#container {
    display: flex;
}

div.left {
    flex-basis: 20%;
}

div.center {
    flex-basis: 60%;
    text-align: center;
}

div.right {
    flex-basis: 20%;
}

button {
    text-align: center;
    height: 45px;
    width: 100px;
    border-radius: 15px;
    color: maroon;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

div.footer {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
} 

