<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parts Request</title>
    <link rel="stylesheet" type="text/css" href="{%static 'parts.css' %}"> 
    <link rel="shortcut icon" type="image/png" href="{%static 'favicon.png'%}">
</head>

<body>
    <div id="container">
        <div class="left"></div>
        <div class="center">
            <div class="home">
                <a href="/"><img src="{% static 'home.png' %}" alt=""></a>
            </div>

            <h1>Parts Request Form</h1>

            <form method="POST" action="/parts_form/" enctype="multipart/form-data">
                
                {% csrf_token %}
                
                {% for fm in form %}
                    <div>
                        <label style="color:white; font-size: 18px; font-family: Arial, Helvetica, sans-serif;"> {{ fm.label }} </label>
                        <p>{{fm}}</p>
                    </div>
                {% endfor %}
                
                <button type="submit">Submit</button>
                
            </form>
        </div>
        <div class="right"></div>
    </div>
    {% comment %} <div class="footer">
        <p class="copyright">Mick Miller © 2024</p>
    </div> {% endcomment %}
</body>
</html>
```