<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{%static 'favicon.png'%}">
    <link rel="stylesheet" href="{%static 'vehicle.css' %}">
    <title>Vehicle Check</title>
</head>
<body>
    <div class="home">
        <a href="/"><img src="{%static 'home.png' %}" alt="Home"></a>
    </div>
    <div class="header"><h1>Vehicle Check Form</h1></div>
    <div id="container">
        
            <div class="one"></div>
            <div class="two">
                <form method="POST" action="/vehicle_form/" enctype="multipart/form-data">
                    
                    {% csrf_token %}
                    {{form}}
                    <button type="submit">Submit</button>

                </form>
            </div>    
            <div class="four"></div>
    
    </div>
    <!-- <div class="textarea"><textarea name="Additional" cols="50" rows="5" placeholder="Enter additional details"></textarea></div> 
    <div class="button">
        <button type="submit">Submit</button> -->
    </div>
    <div class="footer">
        <p class="copyright">Mick Miller © 2024</p>
    </div>