<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{%static 'favicon.png'%}">
    <link rel="stylesheet" href="{%static 'vehicle.css' %}">
    <title>Vehicle Check</title>
</head>
<body>
    <div class="home">
        <a href="/"><img src="{%static 'home.png' %}" alt="Home"></a>
    </div>
    <div class="header"><h1>Vehicle Check Form</h1></div>
    <div id="container">
        
            <div class="one"></div>
            <div class="two">
                <div>
                    <input type="text" placeholder="Driver Name">
                </div>
                <div>
                    <input type="text" placeholder="Current Mileage">
                </div>
                <div class="select">
                    <select name="Windshield">
                        <option value="OK" selected="selected">Windshield - OK</option>
                        <option value="Cracked">Cracked</option>
                        <option value="Chipped">Chipped</option>
                    </select>
                </div>
                <div class="select">
                    <select name="Oil Level">
                        <option value="OK" selected="selected">Oil Level - OK</option>
                        <option value="Cracked">Low</option>
                    </select>
                </div>
                
                <div class="select">
                    <select name="Headlights">
                        <option value="OK" selected="selected">Headlights - OK</option>
                        <option value="Cracked">Need Replaced</option>
                    </select>
                </div>
            </div>
            <div class="three">
                <div>
                    <input type="text" placeholder="Vehicle Number">
                </div>
                <div>
                    <input type="text" placeholder="Next Oil Change Mileage">
                </div>
                <div class="select">
                    <select name="Wipers">
                        <option value="OK" selected="selected">Wipers - OK</option>
                        <option value="Cracked">Need Replaced</option>
                    </select>
                </div>
                <div class="select">
                    <select name="Tires">
                        <option value="OK" selected="selected">Tires - OK</option>
                        <option value="Cracked">Leaking</option>
                        <option value="Cracked">Worn</option>
                    </select>
                </div>
                <div class="select">
                    <select name="Tail Lights">
                        <option value="OK" selected="selected">Tail Lights - OK</option>
                        <option value="Light Out">Bulb/s Need Replaced</option>
                    </select>
                </div>
                
            </div>
            <div class="four"></div>
    
    </div>
    <div class="textarea"><textarea name="Additional" cols="50" rows="5" placeholder="Enter additional details"></textarea></div> 
    <div class="button">
        <button type="submit">Submit</button>
    </div>
    <div class="footer">
        <p class="copyright">Mick Miller © 2024</p>
    </div>
</body>
</html>